configuration {
	modes: "drun";
	font: "IBM Plex Mono 12";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "theme"
